# Ambiente virtual
.venv/
venv/

# Cache do Python
__pycache__/
*.py[cod]

# Cache dos testes
.pytest_cache/

# Variáveis de ambiente
.env
.env.*

# Relatórios locais de segurança
bandit-report.json
trivy-report.json

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
